onlyBuiltDependencies[]=bufferutil
onlyBuiltDependencies[]=core-js
onlyBuiltDependencies[]=ip-set
onlyBuiltDependencies[]=node-datachannel
onlyBuiltDependencies[]=utf-8-validate
onlyBuiltDependencies[]=utp-native
